version: '3.8'


networks:
  app-network:
    driver: bridge  

volumes:
    redis_data:

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx-container
    depends_on:
      backend:
        condition: service_healthy  
      frontend:
        condition: service_started
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    restart: unless-stopped

    
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    networks:
      - app-network
    ports:
      - "8080:8080"
    expose:
      - "8080"
    container_name: backend-container
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - SPRING_REDIS_HOST=redis  
      - SPRING_REDIS_PORT=6379
      - SPRING_REDIS_PASSWORD=${REDIS_PASSWORD}
      - PEERJS_URL=http://nginx/peerjs     
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8080"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 120s 



  peerjs:
    build: ./peerjs
    ports:
      - "9000:9000"
    environment:
      - PORT=9000
      - PATH=/peerjs
      - KEY=your-secret-key
      - ALLOW_DISCOVERY=true
      - PROXY=1 
    restart: unless-stopped
    command: peerjs --port 9000 --path /peerjs --key peerjs-secret-key --allow_discovery
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9000/peerjs/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5


  redis:
    image: redis:latest
    container_name: redis-container
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    #ports:
    # - "6380:6379"
    expose:
      - 6379
    volumes:
      - ./redisdata:/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: redis-server --requirepass ${REDIS_PASSWORD:-redispass}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true


  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend-container
    environment:
      - VITE_API_URL=http://nginx/api  
      - VITE_PEERJS_URL=/peerjs  
    expose:
      - "80"
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:  
      test: ["CMD-SHELL", "curl -f http://localhost || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3


      