.User-Container-Nick {
    font-size: 20px;
    font-family: Times New Roman;
    margin-top: 10px;

}

.micro-icon {
    width: 15px
}

.disconnect-icon {
    width: 15px
}

.disconnect-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(121, 27, 27, 0.3);
}